[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Deepak Ramani
	email = dr563105@gmail.com
[core]
	excludesfile = /Users/dross/.gitignore_global
